<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Margin</th>
        </tr>
      </thead>
      <tbody>
        <% teams.where(group: "A").each do |team| %>
          <tr>
            <td><%= team.team.name %></td>
            <td>2-2</td>
            <td>6</td>
            <td>1.7</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
          <th>Margin</th>
        </tr>
      </thead>
      <tbody>
        <% teams.where(group: "B").each do |team| %>
          <tr>
            <td><%= team.team.name %></td>
            <td>2-2</td>
            <td>6</td>
            <td>1.7</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
          <th>Margin</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
          <th>Margin</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
