<%= image_tag(@tournament.thumbnail, class: "img-responsive", style: "width: 100%;") if @tournament.thumbnail.attached? %>
<hr />

<ul class="nav nav-pills" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="coverage-tab" data-toggle="tab" href="#coverage" role="tab" aria-controls="coverage" aria-selected="true">Coverage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">News</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="standings-tab" data-toggle="tab" href="#standings" role="tab" aria-controls="standings" aria-selected="false">Standings</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="coverage" role="tabpanel" aria-labelledby="coverage-tab">
    <br />
    <%= render "coverage", posts: @microposts.where(day: "Saturday").order(created_at: :desc), tournament: @tournament %>
  </div>
  <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
    <br />
    <%= render "news" %>
  </div>
  <div class="tab-pane fade" id="standings" role="tabpanel" aria-labelledby="standings-tab">
    <br />
    <%= render "standings", teams: @tournament.registered_teams %>
  </div>
</div>
