<h1>Standings</h1>

<div class="form-group">
  <label for="division-select">Division</label>
  <select class="form-control" id="standings-division-select">
    <option value="pro">Pro</option>
    <option value="semipro">Semi-pro</option>
    <option value="3">Division 3</option>
    <option value="4">Division 4</option>
  </select>
</div>

<%= render "table", teams: @teams %>
