<div class="album py-5">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail">
            <title>{article.title}</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
            <%= post.title %>
            </text>
          </svg>
          <div class="card-body">
            <p class="card-text"><%= post.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to "more", news_path(post) %>
              </div>
              <small class="text-muted">
                <%= l post.created_at %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
