<div class="blog-post">
  <h2 class="blog-post-title">Sample blog post</h2>
  <p class="blog-post-meta"><%= l @post.created_at %> <a href="#">Mark</a></p>

  <p><%= @post.description %></p>
  <hr>
  <p><%= markdown(@post.body) %></p>
</div>
